# **Topics**

<ol type="1">
  <li>Introduction to Google Colab;</li>
  <li>Variables;</li>
  <li>Numbers;</li>
  <li>Strings;</li>
  <li>Booleans.</li>
</ol>

---

# **Exercises**

## 1\. Google Colab

Create a code cell that prints the text "Hello world!" using the print command.

Create a text cell and add an image.

---

## 2\. Numbers

Fill in the code cells to populate the values of (A), (B), and (C) in the average ticket table below:

<br>

| Day   | Total Sales Value  | Total Sales Quantity | Average Ticket |
|-------|--------------------|----------------------|--------------|
| 19/01 | (A)                | 3                    | 320.52       |
| 20/01 | 834.47             | (B)                  | 119.21       |
| 23/01 | 15378.12           | 5                    | (C)          |

In [ ]:
# (A)

In [ ]:
# (B)

In [ ]:
# (C)

---

## 3\. Strings

Apply three different methods to the string below. You can find some string methods at this [link](https://www.w3schools.com/python/python_ref_string.asp):

In [ ]:
cancao = 'Roda mundo, roda gigante, roda moinho, roda pião.'

Extract the value of the *selic* rate in the variable `selic` and the year value in the variable `year` from the string below. Print the values to the screen.

In [ ]:
noticia = 'Selic vai a 2,75% e supera expectativas; é a primeira alta em 6 anos.'

---

## 4 Booleans

Use the truth table to answer: what is the value of the variable x?

In [ ]:
a = False
b = True

x = not a & b